{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content explore users">
	{{template "explore/navbar" .}}
	<div class="ui container">
		{{template "explore/search" .}}
		<h2>No Users Avaliable</h2>
		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
