corgi.wiki {
	redir https://www.corgi.wiki
}

www.corgi.wiki {
	reverse_proxy localhost:8001
}

staging.corgi.wiki {
	reverse_proxy localhost:8018
}

backups.corgi.wiki {
	reverse_proxy localhost:7001
}

git.corgijan.dev {
	reverse_proxy localhost:3000
}

bäckerone.corgijan.dev {
	redir https://rezepte.corgijan.dev
}
rezepte.corgijan.dev {
	reverse_proxy localhost:5000
}


www.corgijan.dev {
  root * /static
  file_server
}

list.corgijan.dev {
  root * /list
  file_server
}

nutritionist.corgijan.dev {
	reverse_proxy localhost:10001
}
nut.corgijan.dev {
	redir https://nutritionist.corgijan.dev
}
nutrition.corgijan.dev {
	redir https://nutritionist.corgijan.dev
}

test.corgijan.dev {
	reverse_proxy localhost:4999
}
test2.corgijan.dev {
	reverse_proxy localhost:4998
}

test3.corgijan.dev {
	reverse_proxy localhost:4997
}
test4.corgijan.dev {
	reverse_proxy localhost:4996
}

auth.corgijan.dev {
	reverse_proxy localhost:9000
}

