corgi.wiki {
	redir https://www.corgi.wiki
}

www.corgi.wiki {
	reverse_proxy localhost:8001
}

cloud.corgijan.dev {
		@blocked not remote_ip 1.2.3.4
  	respond @blocked "<h1>Access Denied</h1>" 403
  	respont "allowed" 200
}

verified.corgi.wiki {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy localhost:8028
}

staging.corgi.wiki {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy localhost:8018
}

backups.corgi.wiki {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy localhost:7001
}

logs.corgi.wiki {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy localhost:14001
}
analytics.corgi.wiki {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy localhost:15001
}

git.corgijan.dev {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy http://maine:31000
}

bäckerone.corgijan.dev {
	redir https://rezepte.corgijan.dev
}

rezepte.corgijan.dev {
	reverse_proxy localhost:30002
}


corgijan.dev {
	redir https://www.corgijan.dev
}
www.corgijan.dev {
	reverse_proxy localhost:30001
}
blog.corgijan.dev {
	reverse_proxy localhost:30001
}

nutritionist.corgijan.dev {
	reverse_proxy localhost:10001
}
nut.corgijan.dev {
	redir https://nutritionist.corgijan.dev
}
nutrition.corgijan.dev {
	redir https://nutritionist.corgijan.dev
}

test.corgijan.dev {
	reverse_proxy localhost:4999
}

tischtennis.corgijan.dev {
	reverse_proxy localhost:55000
}

auth.corgijan.dev {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy localhost:9000
}
schmfy.corgijan.dev {
	reverse_proxy localhost:13001
}

vault.corgijan.dev {
	reverse_proxy http://maine:31004
}

vpn.corgijan.dev {
	reverse_proxy /web* localhost:30003
	reverse_proxy * localhost:30004
}
