corgi.wiki {
	redir https://www.corgi.wiki
}

www.corgi.wiki {
	reverse_proxy localhost:8001
}

staging.corgi.wiki {
	reverse_proxy localhost:8018
}

backups.corgi.wiki {
	reverse_proxy localhost:7001
}

git.corgi.pink {
	reverse_proxy localhost:3000
}

bäckerone.corgi.pink {
	redir https://rezepte.corgi.pink
}

rezepte.corgi.pink {
	reverse_proxy localhost:5000
}


www.corgi.pink {
  root * /static
  file_server
}

test.corgi.pink {
	reverse_proxy localhost:4999
}

auth.corgi.pink {
	reverse_proxy localhost:9000
}


nut.corgi.pink {
	redir https://nutritionist.corgi.pink
}

nutritionist.corgi.pink {
	reverse_proxy localhost:10001
}
nutrition.corgi.pink {
	redir https://nutritionist.corgi.pink
}