# this also works via https, but this way its far cooler :D
{
	layer4 {
		:40001 {
			@secure tls
			route @secure {
				proxy localhost:20001
			}
		}
	}
}

git.corgijan.dev {
	@robotsTxt {
		path /robots.txt
	}
	handle @robotsTxt {
		respond "User-agent: *\nDisallow: /" 200
	}
	reverse_proxy http://maine:31000
}

rezepte.corgijan.dev {
	reverse_proxy localhost:30002
}

corgijan.dev {
	redir https://www.corgijan.dev/aboutme
}

www.corgijan.dev {
	reverse_proxy localhost:30001
}

blog.corgijan.dev {
	reverse_proxy localhost:30001
}
vault.corgijan.dev {
	reverse_proxy http://maine:31004
}

vpn.corgijan.dev {
	reverse_proxy /web* localhost:30003
	reverse_proxy * localhost:30004
}

heymofhassellyn.corgijan.dev {
	reverse_proxy localhost:4996
}

lowersaxon.corgijan.dev {
	reverse_proxy localhost:4995
}

ez-breederpage.corgijan.dev {
	reverse_proxy localhost:4994
}

pixies.corgijan.dev {
	respond "HI"
}
