---
- name: Set GNOME settings for buttons and dark mode
  hosts: localhost
  tasks:
    - name: Set button layout to 'close,minimize'
      ansible.builtin.command:
        cmd: "gsettings set org.gnome.desktop.wm.preferences button-layout ':minimize,close'"

    - name: Set GTK theme to dark
      ansible.builtin.command:
        cmd: "gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'"

    - name: Set GTK theme to dark
      ansible.builtin.command:
        cmd: "gsettings set org.gnome.desktop.interface enable-animations false"

    - name: Set GTK theme to dark
      ansible.builtin.shell: |
        gsettings set "org.gnome.desktop.wm.keybindings" "switch-to-workspace-1" "['<Super>1']" 
        gsettings set "org.gnome.desktop.wm.keybindings" "move-to-workspace-1" "['<Super><Shift>1']" 


        gsettings set "org.gnome.desktop.wm.keybindings" "switch-to-workspace-2" "['<Super>2']" 
        gsettings set "org.gnome.desktop.wm.keybindings" "move-to-workspace-2" "['<Super><Shift>2']" 


        gsettings set "org.gnome.desktop.wm.keybindings" "switch-to-workspace-3" "['<Super>3']" 
        gsettings set "org.gnome.desktop.wm.keybindings" "move-to-workspace-3" "['<Super><Shift>3']" 

        gsettings set "org.gnome.desktop.wm.keybindings" "switch-to-workspace-4" "['<Super>4']" 
        gsettings set "org.gnome.desktop.wm.keybindings" "move-to-workspace-4" "['<Super><Shift>4']" 

        gsettings set "org.gnome.desktop.wm.keybindings" "switch-to-workspace-5" "['<Super>5']" 
        gsettings set "org.gnome.desktop.wm.keybindings" "move-to-workspace-5" "['<Super><Shift>5']" 

        gsettings set "org.gnome.desktop.wm.keybindings" "switch-to-workspace-6" "['<Super>6']" 
        gsettings set "org.gnome.desktop.wm.keybindings" "move-to-workspace-6" "['<Super><Shift>6']" 

        gsettings set "org.gnome.desktop.wm.keybindings" "switch-to-workspace-7" "['<Super>7']" 
        gsettings set "org.gnome.desktop.wm.keybindings" "move-to-workspace-7" "['<Super><Shift>7']" 